# TODO: substituir <membro2> e <membro3> pelos usernames reais do grupo.

*                       @MatheusBarros23 @jacksonm99 @Andre08marques

/.github/workflows/     @MatheusBarros23

/Dockerfile             @MatheusBarros23 @jacksonm99 @Andre08marques
/pyproject.toml         @MatheusBarros23 @jacksonm99 @Andre08marques
